* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

.text-thin {
	font-weight: 100;
}

.featured {
	color: #bcbbbb;
}

#navcontainer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navcontainer ul li {
	display: inline;
}

#navcontainer ul li a {
	text-decoration: none;
	padding: .2em 1em;
	color: black;
 }